<html>
<head>
	<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"> -->
</head>
<body>

	<header>
		<div class="container">
		<div id="filter">
			<h1>Hate Speech Filter<h1>
		</div>
		<h3>Hate speech filter, please enter your text below</h3>
		
	</div>
	</header>

	<div class="ml-container">
	<form name=filter  name="SubmitButton" action="{{url_for('usrin')}}" method="POST">
	<fieldset>
	<p>
	<h4><label >Enter Your Text Here:</label><h4><br>
	<textarea name="comment" rows="10" cols="100"></textarea>
	<br>
	<button name="SubmitBtn" type="submit" class="btn-info" value="Detect">Detect</button>
	</form>
	<br><br>
	<form name="TranslateBtn" action="{{url_for('enTrans')}}" method="GET" >
	<button type="submit" class="btn-info" value="Translate">Translate</button>
	</form>	
	</p>
	</fieldset>
	</form>
	</div>
	</body>
	</html>
